:root {
    --grid-color: #d8f5ff;
    --animation-time: 5s;
    --line-weight: 1px;
    --v-start-amount: -100vh;
    --h-start-amount: -100vw;
    --v-step: 2.5;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    height: 110vh !important;
    overflow: hidden;
}

.full-screen-div {
    width: 100vw;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0px;
    font-size: 7vw;
    position: absolute;
}

@keyframes h11fade {
   0% {
       opacity: 0;
   } 
   80% {
       opacity: 0;
   }
   100% {
       opacity: 100;
   }
}
@keyframes h12fade {
    0% {
        opacity: 0;
    } 
    90% {
        opacity: 0;
    }
    110% {
        opacity: 100;
    }
 }

.h11 {
    font-size: 4vw;
    padding-top: 17.5vh;
    padding-left: 20%;
    max-width: 35%;
    animation: h11fade 3s 1;
}

.h12 {
    font-size: 2vw;
    max-width: 40vw;
    padding-left: 20%;
    padding-top: 72.5vh;
    animation: h12fade 3s 1;
}

.contact {
    height: 10vh;
    width: 100vw;
    position: absolute;
    top: 90vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-fill {
    height: 10vh;
    width: 100vw;
    position: absolute;
    top: 90vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* @keyframes iconswell {
    from {
        width: 30px;
        height: 30px;
    }
    to {
        width: 34px;
        height: 34px;
    }
} */

.icon {
    margin: 10px;
    animation: iconswell .25s 1 reverse;
}

.icon:hover {
    /* animation: iconswell .25s 1;
    width: 34px;
    height: 34px; */
}

.twit:hover {
    filter: invert(69%) sepia(54%) saturate(5689%) hue-rotate(175deg) brightness(96%) contrast(98%);
}

.github:hover {
    filter: invert(36%) sepia(55%) saturate(2859%) hue-rotate(239deg) brightness(94%) contrast(97%);
}

.youtube:hover {
    filter: invert(15%) sepia(83%) saturate(7385%) hue-rotate(5deg) brightness(94%) contrast(121%);
}

@keyframes vlineslide1 {
    0% {
        top: -100vh;
    }
    10% {
        top: calc(var(--v-start-amount) - 2.5vh);
    }
    100% {
        top: 0;
    }
}
@keyframes vlineslide2 {
    0% {
        top: -100vh;
    }
    10% {
        top: calc(var(--v-start-amount) - 5vh);
    }
    100% {
        top: 0;
    }
}
@keyframes vlineslide3 {
    0% {
        top: -100vh;
    }
    10% {
        top: calc(var(--v-start-amount) - 7.5vh);
    }
    100% {
        top: 0;
    }
}
@keyframes vlineslide4 {
    0% {
        top: -100vh;
    }
    10% {
        top: calc(var(--v-start-amount) - 10vh);
    }
    100% {
        top: 0;
    }
}
@keyframes vlineslide5 {
    0% {
        top: -100vh;
    }
    10% {
        top: calc(var(--v-start-amount) - 12.5vh);
    }
    100% {
        top: 0;
    }
}
@keyframes vlineslide6 {
    0% {
        top: -100vh;
    }
    10% {
        top: calc(var(--v-start-amount) - 15vh);
    }
    100% {
        top: 0;
    }
}
@keyframes vlineslide7 {
    0% {
        top: -100vh;
    }
    10% {
        top: calc(var(--v-start-amount) - 17.5vh);
    }
    100% {
        top: 0;
    }
}
@keyframes vlineslide8 {
    0% {
        top: -100vh;
    }
    10% {
        top: calc(var(--v-start-amount) - 20vh);
    }
    100% {
        top: 0;
    }
}
@keyframes vlineslide9 {
    0% {
        top: -100vh;
    }
    10% {
        top: calc(var(--v-start-amount) - 22.5vh);
    }
    100% {
        top: 0;
    }
}
@keyframes vlineslide10 {
    0% {
        top: -100vh;
    }
    10% {
        top: calc(var(--v-start-amount) - 25vh);
    }
    100% {
        top: 0;
    }
}
@keyframes vlineslide11 {
    0% {
        top: -100vh;
    }
    10% {
        top: calc(var(--v-start-amount) - 27.5vh);
    }
    100% {
        top: 0;
    }
}
@keyframes vlineslide12 {
    0% {
        top: -100vh;
    }
    10% {
        top: calc(var(--v-start-amount) - 30vh);
    }
    100% {
        top: 0;
    }
}
@keyframes vlineslide13 {
    0% {
        top: -100vh;
    }
    10% {
        top: calc(var(--v-start-amount) - 32.5vh);
    }
    100% {
        top: 0;
    }
}
@keyframes vlineslide14 {
    0% {
        top: -100vh;
    }
    10% {
        top: calc(var(--v-start-amount) - 35vh);
    }
    100% {
        top: 0;
    }
}
@keyframes vlineslide15 {
    0% {
        top: -100vh;
    }
    10% {
        top: calc(var(--v-start-amount) - 37.5vh);
    }
    100% {
        top: 0;
    }
}
@keyframes vlineslide16 {
    0% {
        top: -100vh;
    }
    10% {
        top: calc(var(--v-start-amount) - 40vh);
    }
    100% {
        top: 0;
    }
}
@keyframes vlineslide17 {
    0% {
        top: -100vh;
    }
    10% {
        top: calc(var(--v-start-amount) - 42.5vh);
    }
    100% {
        top: 0;
    }
}
@keyframes vlineslide18 {
    0% {
        top: -100vh;
    }
    10% {
        top: calc(var(--v-start-amount) - 45vh);
    }
    100% {
        top: 0;
    }
}
@keyframes vlineslide19 {
    0% {
        top: -100vh;
    }
    10% {
        top: calc(var(--v-start-amount) - 47.5vh);
    }
    100% {
        top: 0;
    }
}

.vline {
    width: var(--line-weight);
    height: 100vh;
    background-color: var(--grid-color);
}

.vline1 {
    margin-left: 5%;
    position: absolute;
    animation: vlineslide1 var(--animation-time) 1;
}
.vline2 {
    margin-left: 10%;
    position: absolute;
    animation: vlineslide2 var(--animation-time) 1;
}
.vline3 {
    margin-left: 15%;
    position: absolute;
    animation: vlineslide3 var(--animation-time) 1;
}
.vline4 {
    margin-left: 20%;
    position: absolute;
    animation: vlineslide4 var(--animation-time) 1;
}
.vline5 {
    margin-left: 25%;
    position: absolute;
    animation: vlineslide5 var(--animation-time) 1;
}
.vline6 {
    margin-left: 30%;
    position: absolute;
    animation: vlineslide6 var(--animation-time) 1;
}
.vline7 {
    margin-left: 35%;
    position: absolute;
    animation: vlineslide7 var(--animation-time) 1;
}
.vline8 {
    margin-left: 40%;
    position: absolute;
    animation: vlineslide8 var(--animation-time) 1;

}
.vline9 {
    margin-left: 45%;
    position: absolute;
    animation: vlineslide9 var(--animation-time) 1;
}
.vline10 {
    margin-left: 50%;
    position: absolute;
    animation: vlineslide10 var(--animation-time) 1;
}
.vline11 {
    margin-left: 55%;
    position: absolute;
    animation: vlineslide11 var(--animation-time) 1;
}
.vline12 {
    margin-left: 60%;
    position: absolute;
    animation: vlineslide12 var(--animation-time) 1;
}
.vline13 {
    margin-left: 65%;
    position: absolute;
    animation: vlineslide13 var(--animation-time) 1;
}
.vline14 {
    margin-left: 70%;
    position: absolute;
    animation: vlineslide14 var(--animation-time) 1;
}
.vline15 {
    margin-left: 75%;
    position: absolute;
    animation: vlineslide15 var(--animation-time) 1;
}
.vline16 {
    margin-left: 80%;
    position: absolute;
    animation: vlineslide16 var(--animation-time) 1;
}
.vline17 {
    margin-left: 85%;
    position: absolute;
    animation: vlineslide17 var(--animation-time) 1;
}
.vline18 {
    margin-left: 90%;
    position: absolute;
    animation: vlineslide18 var(--animation-time) 1;
}
.vline19 {
    margin-left: 95%;
    position: absolute;
    animation: vlineslide19 var(--animation-time) 1;    
}

@keyframes hlineslide1 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 2.5vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide2 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 5vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide3 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 7.5vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide4 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 10vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide5 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 12.5vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide6 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 15vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide7 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 17.5vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide8 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 17.5vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide9 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 20vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide10 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 22.5vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide11 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 25vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide12 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 27.5vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide13 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 30vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide14 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 32.5vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide15 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 35vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide16 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 37.5vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide17 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 40vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide18 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 42.5vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide19 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 45vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide20 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 47.5vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide21 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 50vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide22 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 52.5vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide23 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 55vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide24 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 57.5vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide25 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 60vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide26 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 62.5vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide27 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 65vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide28 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 67.5vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide29 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 70vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide30 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 72.5vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide31 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 75vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide32 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 77.5vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide33 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 80vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide34 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 82.5vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide35 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 85vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide36 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 87.5vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide37 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 90vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide38 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 92.5vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide39 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 95vw);
    }
    100% {
        left: 0;
    }
}
@keyframes hlineslide40 {
    0% {
        left: -100vw;
    }
    10% {
        left: calc(var(--h-start-amount) - 97.5vw);
    }
    100% {
        left: 0;
    }
}

.hline {
    width: 100vw;
    height: var(--line-weight);
    background-color: var(--grid-color);
}

.hline1 {
    margin-top: 5vw;
    position: absolute;
    animation: hlineslide1 var(--animation-time) 1;
}
.hline2 {
    margin-top: 10vw;
    position: absolute;
    animation: hlineslide2 var(--animation-time) 1;
}
.hline3 {
    margin-top: 15vw;
    position: absolute;
    animation: hlineslide3 var(--animation-time) 1;
}
.hline4 {
    margin-top: 20vw;
    position: absolute;
    animation: hlineslide4 var(--animation-time) 1;
}
.hline5 {
    margin-top: 25vw;
    position: absolute;
    animation: hlineslide5 var(--animation-time) 1;
}
.hline6 {
    margin-top: 30vw;
    position: absolute;
    animation: hlineslide6 var(--animation-time) 1;
}
.hline7 {
    margin-top: 35vw;
    position: absolute;
    animation: hlineslide7 var(--animation-time) 1;
}
.hline8 {
    margin-top: 40vw;
    position: absolute;
    animation: hlineslide8 var(--animation-time) 1;
}
.hline9 {
    margin-top: 45vw;
    position: absolute;
    animation: hlineslide9 var(--animation-time) 1;
}
.hline10 {
    margin-top: 50vw;
    position: absolute;
    animation: hlineslide10 var(--animation-time) 1;
}
.hline11 {
    margin-top: 55vw;
    position: absolute;
    animation: hlineslide11 var(--animation-time) 1;
}
.hline12 {
    margin-top: 60vw;
    position: absolute;
    animation: hlineslide12 var(--animation-time) 1;
}
.hline13 {
    margin-top: 65vw;
    position: absolute;
    animation: hlineslide13 var(--animation-time) 1;
}
.hline14 {
    margin-top: 70vw;
    position: absolute;
    animation: hlineslide14 var(--animation-time) 1;
}
.hline15 {
    margin-top: 75vw;
    position: absolute;
    animation: hlineslide15 var(--animation-time) 1;
}
.hline16 {
    margin-top: 80vw;
    position: absolute;
    animation: hlineslide16 var(--animation-time) 1;
}
.hline17 {
    margin-top: 85vw;
    position: absolute;
    animation: hlineslide17 var(--animation-time) 1;
}
.hline18 {
    margin-top: 90vw;
    position: absolute;
    animation: hlineslide18 var(--animation-time) 1;
}
.hline19 {
    margin-top: 95vw;
    position: absolute;
    animation: hlineslide19 var(--animation-time) 1;
}
.hline20 {
    margin-top: 100vw;
    position: absolute;
    animation: hlineslide20 var(--animation-time) 1;
}
.hline21 {
    margin-top: 105vw;
    position: absolute;
    animation: hlineslide21 var(--animation-time) 1;
}
.hline22 {
    margin-top: 110vw;
    position: absolute;
    animation: hlineslide22 var(--animation-time) 1;
}
.hline23 {
    margin-top: 115vw;
    position: absolute;
    animation: hlineslide23 var(--animation-time) 1;
}
.hline24 {
    margin-top: 120vw;
    position: absolute;
    animation: hlineslide24 var(--animation-time) 1;
}
.hline25 {
    margin-top: 120vw;
    position: absolute;
    animation: hlineslide25 var(--animation-time) 1;
}
.hline26 {
    margin-top: 125vw;
    position: absolute;
    animation: hlineslide26 var(--animation-time) 1;
}
.hline27 {
    margin-top: 130vw;
    position: absolute;
    animation: hlineslide27 var(--animation-time) 1;
}
.hline28 {
    margin-top: 135vw;
    position: absolute;
    animation: hlineslide28 var(--animation-time) 1;
}
.hline29 {
    margin-top: 140vw;
    position: absolute;
    animation: hlineslide29 var(--animation-time) 1;
}
.hline30 {
    margin-top: 145vw;
    position: absolute;
    animation: hlineslide30 var(--animation-time) 1;
}
.hline31 {
    margin-top: 150vw;
    position: absolute;
    animation: hlineslide31 var(--animation-time) 1;
}
.hline32 {
    margin-top: 155vw;
    position: absolute;
    animation: hlineslide32 var(--animation-time) 1;
}
.hline33 {
    margin-top: 160vw;
    position: absolute;
    animation: hlineslide33 var(--animation-time) 1;
}
.hline34 {
    margin-top: 165vw;
    position: absolute;
    animation: hlineslide34 var(--animation-time) 1;
}
.hline35 {
    margin-top: 170vw;
    position: absolute;
    animation: hlineslide35 var(--animation-time) 1;
}
.hline36 {
    margin-top: 175vw;
    position: absolute;
    animation: hlineslide36 var(--animation-time) 1;
}
.hline37 {
    margin-top: 180vw;
    position: absolute;
    animation: hlineslide37 var(--animation-time) 1;
}
.hline38 {
    margin-top: 185vw;
    position: absolute;
    animation: hlineslide38 var(--animation-time) 1;
}
.hline39 {
    margin-top: 190vw;
    position: absolute;
    animation: hlineslide39 var(--animation-time) 1;
}
.hline40 {
    margin-top: 195vw;
    position: absolute;
    animation: hlineslide40 var(--animation-time) 1;
}